In [31]:
import pandas as pd

In [32]:
categorie = pd.read_csv('categorie.csv')
client = pd.read_csv('client.csv')
commandes = pd.read_csv('commandes.csv')
produit = pd.read_csv('produit.csv')
sous_categorie = pd.read_csv('sous_categorie.csv')

In [33]:
categorie

   ID Categorie    Categorie
0             4  Accessories
1             1        Bikes
2             3     Clothing
3             2   Components

In [34]:
sous_categorie

    ID Sous Categorie  ID Categorie     Sous Categorie
0                   1             1     Mountain Bikes
1                   2             1         Road Bikes
2                   3             1      Touring Bikes
3                   4             2         Handlebars
4                   5             2    Bottom Brackets
5                   6             2             Brakes
6                   7             2             Chains
7                   8             2          Cranksets
8                   9             2        Derailleurs
9                  10             2              Forks
10                 11             2           Headsets
11                 12             2    Mountain Frames
12                 13             2             Pedals
13                 14             2        Road Frames
14                 15             2            Saddles
15                 16             2     Touring Frames
16                 17             2             Wheels
17                 18             3         Bib-Shorts
18                 19             3               Caps
19                 20             3             Gloves
20                 21             3            Jerseys
21                 22             3             Shorts
22                 23             3              Socks
23                 24             3             Tights
24                 25             3              Vests
25                 26             4         Bike Racks
26                 27             4        Bike Stands
27                 28             4  Bottles and Cages
28                 29             4           Cleaners
29                 30             4            Fenders
30                 31             4            Helmets
31                 32             4    Hydration Packs
32                 33             4             Lights
33                 34             4              Locks
34                 35             4           Panniers
35                 36             4              Pumps
36                 37             4    Tires and Tubes

In [35]:
sous_categorie = pd.merge(sous_categorie, categorie, on='ID Categorie')

In [36]:
commandes['Prix Unitaire'] = commandes['Prix Unitaire'].str.replace(',', '.').astype(float)

In [37]:
commandes['prix totale'] = commandes['Quantite'] * commandes['Prix Unitaire']

In [38]:
commandes

,ID Commande,Date Commande,Date Expedition,ID Client,ID Produit,Quantite,Prix Unitaire,prix totale
0,43659,2019-08-31,2019-09-07,1045,776,1,2024.994,2024.994
1,43659,2019-08-31,2019-09-07,1045,777,3,2024.994,6074.982
2,43659,2019-08-31,2019-09-07,1045,778,1,2024.994,2024.994
3,43659,2019-08-31,2019-09-07,1045,771,1,2039.994,2039.994
4,43659,2019-08-31,2019-09-07,1045,772,1,2039.994,2039.994
...,...,...,...,...,...,...,...,...
51070,63293,2022-03-31,2022-04-07,475,892,1,602.346,602.346
51071,63293,2022-03-31,2022-04-07,475,959,1,445.410,445.410
51072,63293,2022-03-31,2022-04-07,475,957,3,1430.442,4291.326
51073,63293,2022-03-31,2022-04-07,475,893,4,602.346,2409.384
51074,63293,2022-03-31,2022-04-07,475,916,2,31.584,63.168

In [43]:
produit['Cout Standard'] = produit['Cout Standard'].str.replace(',', '.').astype(float)
produit['Prix Standard'] = produit['Prix Standard'].str.replace(',', '.').astype(float)

In [44]:
produit['Profit Total'] = produit['Prix Standard'] - produit['Cout Standard']

In [47]:
commandes = pd.merge(commandes, produit, on='ID Produit')

In [49]:
commandes = pd.merge(commandes, client, on='ID Client')

In [52]:
commandes = pd.merge(commandes, sous_categorie, on='ID Sous Categorie')

In [57]:
commandes['Date Commande'] = pd.to_datetime(commandes['Date Commande'])

commandes['Date Expedition'] = pd.to_datetime(commandes['Date Expedition'])

In [59]:
commandes['Delai'] = commandes['Date Expedition'] - commandes['Date Commande']

In [61]:
# afficher juste le nombre de jours pour le delai
commandes['Delai'] = commandes['Delai'].dt.days

In [64]:
commandes.columns

Index(['ID Commande', 'Date Commande', 'Date Expedition', 'ID Client',
       'ID Produit', 'Quantite', 'Prix Unitaire', 'prix totale', 'Code',
       'Nom Produit', 'Gamme', 'Cout Standard', 'Prix Standard',
       'ID Sous Categorie', 'Profit Total', 'Prenom', 'Nom', 'ID Categorie',
       'Sous Categorie', 'Categorie', 'Delai'],
      dtype='object')

In [66]:
# replace les colunms dans un ordre logique 
commandes = commandes[['ID Commande', 'ID Client', 'Nom', 'Prenom', 'ID Produit', 'Nom Produit', 'ID Categorie', 'Categorie', 'ID Sous Categorie', 'Sous Categorie', 'Quantite', 'Prix Unitaire', 'prix totale', 'Cout Standard', 'Prix Standard', 'Profit Total', 'Date Commande', 'Date Expedition', 'Delai']]

In [68]:
commandes.rename(columns={'prix totale': 'Prix Totale'}, inplace=True)

C:\Users\ILIAS SABANI\AppData\Local\Temp\ipykernel_10384\4124385434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commandes.rename(columns={'prix totale': 'Prix Totale'}, inplace=True)

In [69]:
commandes

,ID Commande,ID Client,Nom,Prenom,ID Produit,Nom Produit,ID Categorie,Categorie,ID Sous Categorie,Sous Categorie,Quantite,Prix Unitaire,Prix Totale,Cout Standard,Prix Standard,Profit Total,Date Commande,Date Expedition,Delai
0,43659,1045,Hendergart,James,776,"Mountain-100 Black, 42",1,Bikes,1,Mountain Bikes,1,2024.994,2024.994,1898.0944,3374.99,1476.8956,2019-08-31,2019-09-07,7
1,45061,1045,Hendergart,James,776,"Mountain-100 Black, 42",1,Bikes,1,Mountain Bikes,2,2024.994,4049.988,1898.0944,3374.99,1476.8956,2020-03-01,2020-03-08,7
2,43659,1045,Hendergart,James,777,"Mountain-100 Black, 44",1,Bikes,1,Mountain Bikes,3,2024.994,6074.982,1898.0944,3374.99,1476.8956,2019-08-31,2019-09-07,7
3,45061,1045,Hendergart,James,777,"Mountain-100 Black, 44",1,Bikes,1,Mountain Bikes,5,2024.994,10124.970,1898.0944,3374.99,1476.8956,2020-03-01,2020-03-08,7
4,45779,1045,Hendergart,James,777,"Mountain-100 Black, 44",1,Bikes,1,Mountain Bikes,2,2024.994,4049.988,1898.0944,3374.99,1476.8956,2020-05-29,2020-06-07,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51070,59022,1851,Swan,Katherine,887,"HL Touring Frame - Yellow, 46",2,Components,16,Touring Frames,2,602.346,1204.692,601.7437,1003.91,402.1663,2022-01-30,2022-02-06,7
51071,53572,1851,Swan,Katherine,898,"LL Touring Frame - Blue, 62",2,Components,16,Touring Frames,1,200.052,200.052,199.8519,333.42,133.5681,2021-10-31,2021-11-07,7
51072,53453,1891,Thomsen,Andrea,896,"LL Touring Frame - Blue, 54",2,Components,16,Touring Frames,1,200.052,200.052,199.8519,333.42,133.5681,2021-10-31,2021-11-07,7
51073,51738,1121,Huff,Arlene,903,"LL Touring Frame - Blue, 44",2,Components,16,Touring Frames,1,200.052,200.052,199.8519,333.42,133.5681,2021-09-30,2021-10-07,7
51074,51871,971,Gonzales,Lynn,903,"LL Touring Frame - Blue, 44",2,Components,16,Touring Frames,1,200.052,200.052,199.8519,333.42,133.5681,2021-09-30,2021-10-07,7

In [70]:
commandes.to_csv('global_dataset.csv', index=False)