In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('combined_immo_be.csv')

In [3]:
df['Price'] = df['Price'].str.replace('[\xa0 ]', '')
df['Price'] = df['Price'].astype(int)

C:\Users\ILIAS SABANI\AppData\Local\Temp\ipykernel_6584\2875448312.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace('[\xa0 ]', '')

In [4]:
df.sort_values('Price', inplace=True, ascending=True)

In [5]:
df['Surface'] = df['Surface'].str.replace('m²', '')
df['Surface'] = df['Surface'].astype(int)

In [6]:
df['Price per m²'] = df['Price'] / df['Surface']

In [7]:
df

,Title,Price,Location,Bedrooms,Bathrooms,Surface,Price per m²
0,Maison,30000,Lessines,2,1,70,428.571429
1,Appartement,30000,Malines,2,1,92,326.086957
2,Appartement,34000,La calamine,1,1,38,894.736842
3,Châlet,35000,Aywaille,1,1,31,1129.032258
4,Maison quatre façades,40000,Roly,2,1,49,816.326531
...,...,...,...,...,...,...,...
10136,Maison,6400000,Bruxelles,27,27,1350,4740.740741
10137,Maison,7000000,Uccle,6,6,700,10000.000000
10138,Maison,7385000,Ixelles,21,14,1719,4296.102385
10139,Maison,7500000,Grez-Doiceau,7,8,1288,5822.981366
10140,Duplex,8100000,Knokke,3,3,427,18969.555035

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df

,Title,Price,Location,Bedrooms,Bathrooms,Surface,Price per m²
0,Maison,30000,Lessines,2,1,70,428.571429
1,Appartement,30000,Malines,2,1,92,326.086957
2,Appartement,34000,La calamine,1,1,38,894.736842
3,Châlet,35000,Aywaille,1,1,31,1129.032258
4,Maison quatre façades,40000,Roly,2,1,49,816.326531
...,...,...,...,...,...,...,...
10136,Maison,6400000,Bruxelles,27,27,1350,4740.740741
10137,Maison,7000000,Uccle,6,6,700,10000.000000
10138,Maison,7385000,Ixelles,21,14,1719,4296.102385
10139,Maison,7500000,Grez-Doiceau,7,8,1288,5822.981366
10140,Duplex,8100000,Knokke,3,3,427,18969.555035

In [10]:
zip_code = pd.read_csv('code-postaux-belge.csv', sep=';')
zip_code

      Code        Localite  Longitude   Latitude                   Coordonnees
0     1090           Jette   4.326090  50.877763         50.8777634, 4.3260903
1     1160       Auderghem   4.433139  50.815657         50.8156571, 4.4331389
2     1300           Wavre   4.607744  50.716419          50.7164189, 4.607744
3     1315          Glimes   4.838402  50.679995         50.6799948, 4.8384018
4     1315       Opprebais   4.795775  50.681817          50.681817, 4.7957745
...    ...             ...        ...        ...                           ...
2752  9968      Bassevelde   3.678995  51.231192         51.2311917, 3.6789952
2753  9971         Lembeke   3.634631  51.194240     51.19424, 3.6346312134542
2754  9980   Sint-Laureins   3.537482  51.233048   51.2330483, 3.5374820679851
2755  9981  Sint-Margriete   3.531501  51.267672  51.26767195, 3.5315005565828
2756  9988      Watervliet   3.626982  51.277650    51.2776499, 3.626982177111

[2757 rows x 5 columns]

In [11]:
postal_code = pd.read_csv('postal_codes.csv')
postal_code

                    Localite  Code
0                    Malines  2800
1                La calamine  4720
2          Fontaine-L'Evêque  6140
3                     Le coq  8420
4             Blanckenberghe  8370
..                       ...   ...
80    Wavre-sainte-catherine  1301
81  Lombeek-Sainte-Catherine  1742
82       Sint-Job-In-'T-Goor  2960
83      Laethem-saint-martin  9830
84                    Haecht  3150

[85 rows x 2 columns]

In [12]:
## merge postal_code and zip_code on 'Code' column
postal_code = pd.merge(zip_code,postal_code, on='Code', how='right')

In [13]:
postal_code

,Code,Localite_x,Longitude,Latitude,Coordonnees,Localite_y
0,2800,Mechelen,4.471321,51.028033,"51.02803335, 4.471321199996",Malines
1,2800,Walem,4.456875,51.065794,"51.0657941, 4.4568748",Malines
2,4720,La Calamine,6.013341,50.715496,"50.7154957, 6.013341",La calamine
3,6140,Fontaine-L'evêque,4.323964,50.411225,"50.411224661019, 4.3239637925238",Fontaine-L'Evêque
4,8420,De Haan,3.004925,51.241511,"51.2415107, 3.0049248",Le coq
...,...,...,...,...,...,...
301,2960,Brecht,4.597238,51.334768,"51.3347679, 4.5972381789962",Sint-Job-In-'T-Goor
302,9830,Sint-Martens-Latem,3.630629,51.013446,"51.0134462, 3.6306291238782",Laethem-saint-martin
303,3150,Tildonk,4.659517,50.940820,"50.94081955, 4.6595165776069",Haecht
304,3150,Wespelaar,4.632589,50.956453,"50.95645295, 4.6325890563885",Haecht
305,3150,Haacht,4.638682,50.976929,"50.9769286, 4.6386824",Haecht

In [14]:
pp = pd.read_csv('postal-codes-belgium.csv', sep=';')
pp.drop(columns=pp.columns.difference(['Post code', 'Région name (French)']), inplace=True)
pp.rename(columns={'Post code':'Code', 'Région name (French)':'Region'}, inplace=True)
postal_code = pd.merge(postal_code, pp, left_on='Code', right_on='Code', how='left')
zip_code = pd.merge(zip_code, pp, left_on='Code', right_on='Code', how='left')

In [15]:
postal_code

,Code,Localite_x,Longitude,Latitude,Coordonnees,Localite_y,Region
0,2800,Mechelen,4.471321,51.028033,"51.02803335, 4.471321199996",Malines,Région flamande
1,2800,Walem,4.456875,51.065794,"51.0657941, 4.4568748",Malines,Région flamande
2,4720,La Calamine,6.013341,50.715496,"50.7154957, 6.013341",La calamine,Région wallonne
3,6140,Fontaine-L'evêque,4.323964,50.411225,"50.411224661019, 4.3239637925238",Fontaine-L'Evêque,Région wallonne
4,8420,De Haan,3.004925,51.241511,"51.2415107, 3.0049248",Le coq,Région flamande
...,...,...,...,...,...,...,...
321,2960,Brecht,4.597238,51.334768,"51.3347679, 4.5972381789962",Sint-Job-In-'T-Goor,Région flamande
322,9830,Sint-Martens-Latem,3.630629,51.013446,"51.0134462, 3.6306291238782",Laethem-saint-martin,Région flamande
323,3150,Tildonk,4.659517,50.940820,"50.94081955, 4.6595165776069",Haecht,Région flamande
324,3150,Wespelaar,4.632589,50.956453,"50.95645295, 4.6325890563885",Haecht,Région flamande
325,3150,Haacht,4.638682,50.976929,"50.9769286, 4.6386824",Haecht,Région flamande

In [16]:
df = pd.merge(df, postal_code, left_on='Location', right_on='Localite_y', how='left')

In [17]:
df = pd.merge(df, zip_code, left_on='Location', right_on='Localite', how='left')

In [18]:

# Fusionner les colonnes Localite_x et Localite_y
df["Code_x"].fillna(df["Code_y"], inplace=True)
df["Longitude_x"].fillna(df["Longitude_y"], inplace=True)
df["Latitude_x"].fillna(df["Latitude_y"], inplace=True)
df["Coordonnees_x"].fillna(df["Coordonnees_y"], inplace=True)
df["Region_x"].fillna(df["Region_y"], inplace=True)

In [19]:
# Supprimer la colonne Localite_y
df.drop("Localite_y", axis=1, inplace=True)
df.drop("Localite_x", axis=1, inplace=True)
df.drop("Localite", axis=1, inplace=True)
df.drop("Code_y", axis=1, inplace=True)
df.drop("Longitude_y", axis=1, inplace=True)
df.drop("Latitude_y", axis=1, inplace=True)
df.drop("Coordonnees_y", axis=1, inplace=True)
df.drop("Region_y", axis=1, inplace=True)

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df

,Title,Price,Location,Bedrooms,Bathrooms,Surface,Price per m²,Code_x,Longitude_x,Latitude_x,Coordonnees_x,Region_x
0,Maison,30000,Lessines,2,1,70,428.571429,7860.0,3.830113,50.712304,"50.7123036, 3.8301131",Région wallonne
1,Appartement,30000,Malines,2,1,92,326.086957,2800.0,4.471321,51.028033,"51.02803335, 4.471321199996",Région flamande
2,Appartement,30000,Malines,2,1,92,326.086957,2800.0,4.456875,51.065794,"51.0657941, 4.4568748",Région flamande
3,Appartement,34000,La calamine,1,1,38,894.736842,4720.0,6.013341,50.715496,"50.7154957, 6.013341",Région wallonne
4,Châlet,35000,Aywaille,1,1,31,1129.032258,4920.0,5.674217,50.473483,"50.4734827, 5.6742167",Région wallonne
...,...,...,...,...,...,...,...,...,...,...,...,...
15340,Maison,6400000,Bruxelles,27,27,1350,4740.740741,1000.0,4.351697,50.846557,"50.8465573, 4.351697",Région de Bruxelles-Capitale
15343,Maison,7000000,Uccle,6,6,700,10000.000000,1180.0,4.337235,50.801820,"50.8018201, 4.3372348",Région de Bruxelles-Capitale
15344,Maison,7385000,Ixelles,21,14,1719,4296.102385,1050.0,4.381571,50.822285,"50.8222854, 4.3815707",Région de Bruxelles-Capitale
15346,Maison,7500000,Grez-Doiceau,7,8,1288,5822.981366,1390.0,4.696232,50.738618,"50.7386182, 4.6962324",Région wallonne
15347,Duplex,8100000,Knokke,3,3,427,18969.555035,8300.0,3.323374,51.349430,"51.34942965, 3.3233738606453",Région flamande

In [22]:
new_column_names = {'Title':'Type', 'Price':'Price', 'Surface':'Surface', 'Bedrooms':'Bedrooms', 'Bathrooms':'Bathrooms', 'Location':'City', 'Code_x':'Zip_code', 'Longitude_x':'Longitude', 'Latitude_x':'Latitude', 'Coordonnees_x':'Geographic_coordinates', 'Price per m²':'Price_per_m²', 'Region_x':'Region'}

In [23]:
## rename columns
df.rename(columns=new_column_names, inplace=True)

In [24]:
df = df.reindex(columns=['Type', 'Bedrooms', 'Bathrooms', 'Surface','Price', 'Price_per_m²', 'City', 'Zip_code','Region', 'Longitude', 'Latitude', 'Geographic_coordinates'])

In [25]:
df['Zip_code'] = df['Zip_code'].astype(int)

In [26]:
df['Price_per_m²'] = df['Price_per_m²'].round(2)

In [27]:
df

,Type,Bedrooms,Bathrooms,Surface,Price,Price_per_m²,City,Zip_code,Region,Longitude,Latitude,Geographic_coordinates
0,Maison,2,1,70,30000,428.57,Lessines,7860,Région wallonne,3.830113,50.712304,"50.7123036, 3.8301131"
1,Appartement,2,1,92,30000,326.09,Malines,2800,Région flamande,4.471321,51.028033,"51.02803335, 4.471321199996"
2,Appartement,2,1,92,30000,326.09,Malines,2800,Région flamande,4.456875,51.065794,"51.0657941, 4.4568748"
3,Appartement,1,1,38,34000,894.74,La calamine,4720,Région wallonne,6.013341,50.715496,"50.7154957, 6.013341"
4,Châlet,1,1,31,35000,1129.03,Aywaille,4920,Région wallonne,5.674217,50.473483,"50.4734827, 5.6742167"
...,...,...,...,...,...,...,...,...,...,...,...,...
15340,Maison,27,27,1350,6400000,4740.74,Bruxelles,1000,Région de Bruxelles-Capitale,4.351697,50.846557,"50.8465573, 4.351697"
15343,Maison,6,6,700,7000000,10000.00,Uccle,1180,Région de Bruxelles-Capitale,4.337235,50.801820,"50.8018201, 4.3372348"
15344,Maison,21,14,1719,7385000,4296.10,Ixelles,1050,Région de Bruxelles-Capitale,4.381571,50.822285,"50.8222854, 4.3815707"
15346,Maison,7,8,1288,7500000,5822.98,Grez-Doiceau,1390,Région wallonne,4.696232,50.738618,"50.7386182, 4.6962324"
15347,Duplex,3,3,427,8100000,18969.56,Knokke,8300,Région flamande,3.323374,51.349430,"51.34942965, 3.3233738606453"

In [28]:
df.to_csv('Belgium_housing_dataset.csv', index=False)

In [29]:
df=pd.read_csv('Belgium_housing_dataset.csv')

In [30]:
df

,Type,Bedrooms,Bathrooms,Surface,Price,Price_per_m²,City,Zip_code,Region,Longitude,Latitude,Geographic_coordinates
0,Maison,2,1,70,30000,428.57,Lessines,7860,Région wallonne,3.830113,50.712304,"50.7123036, 3.8301131"
1,Appartement,2,1,92,30000,326.09,Malines,2800,Région flamande,4.471321,51.028033,"51.02803335, 4.471321199996"
2,Appartement,2,1,92,30000,326.09,Malines,2800,Région flamande,4.456875,51.065794,"51.0657941, 4.4568748"
3,Appartement,1,1,38,34000,894.74,La calamine,4720,Région wallonne,6.013341,50.715496,"50.7154957, 6.013341"
4,Châlet,1,1,31,35000,1129.03,Aywaille,4920,Région wallonne,5.674217,50.473483,"50.4734827, 5.6742167"
...,...,...,...,...,...,...,...,...,...,...,...,...
13515,Maison,27,27,1350,6400000,4740.74,Bruxelles,1000,Région de Bruxelles-Capitale,4.351697,50.846557,"50.8465573, 4.351697"
13516,Maison,6,6,700,7000000,10000.00,Uccle,1180,Région de Bruxelles-Capitale,4.337235,50.801820,"50.8018201, 4.3372348"
13517,Maison,21,14,1719,7385000,4296.10,Ixelles,1050,Région de Bruxelles-Capitale,4.381571,50.822285,"50.8222854, 4.3815707"
13518,Maison,7,8,1288,7500000,5822.98,Grez-Doiceau,1390,Région wallonne,4.696232,50.738618,"50.7386182, 4.6962324"
13519,Duplex,3,3,427,8100000,18969.56,Knokke,8300,Région flamande,3.323374,51.349430,"51.34942965, 3.3233738606453"